<table border="1">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Enseignant</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ma in matieres %}
        <tr>
            <td>{{ ma.nom }}</td>
            <td>{{ ma.enseignant }}</td>
            <td>
                <a href="{% url 'notes:matiere' ma.id %}">Détails</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Aucune matière</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
